/* Elimina el scroll horizontal */
/* body {
    overflow-x: hidden;
    margin: 0; 
  } */
  
  /* Opcional: asegurarte de que el contenido se ajuste a la pantalla */
  /* html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  } */
  